.v-popper {
  &__inner {
    @apply bg-primary-600 border-primary-600 text-context-50 text-sm px-2 py-1 #{!important};
  }

  &__arrow-inner {
    visibility: visible;
    @apply border-primary-600 #{!important};
  }

  &__arrow-outer {
    @apply border-primary-600 #{!important};
  }

  /* Transition */

  &__popper--hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &__popper--shown {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  &__popper--skip-transition {
    transition: none !important;
  }
}
